#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 2px;
  background-color: rgb(123, 209, 212);
}

button:hover {
  background-color: rgb(38, 133, 136);
}

/* #container {
  display: flex;
}

#stylig,
#typing {
  margin: 50px;
} */

#textArea {
  border: 1px solid black;
  min-height: 40px;
}

#keyboard {
  margin-top: 10px;
  width: 500px;
}